<div class="row">
    <div class="col-4">
        <form [formGroup]="form">
            <div class="mb-3">
                <label class="form-label">Email address</label>
                <input type="email" class="form-control" placeholder="Email" formControlName="email">
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" formControlName="password">
            </div>
            <button type="button" class="btn btn-primary" (click)="login()" [disabled]="!form.valid">Submit</button>
        </form>
    </div>
</div>
